---
const { link, text } = Astro.props;
---

<a href={link}>
  <span>{text}</span>
  <i class="bi bi-arrow-right"></i>
</a>

<style>
  a {
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space);
    padding-inline: var(--space);
    border-bottom: solid 2px var(--secondaryColorDark);
    transition: all 0.3s linear;
    transform: scale(1);
  }
  a:hover {
    border-bottom: solid 2px var(--secondaryColorLight);
    transform: scale(1.1);
  }
  a::after {
    content: "";
    position: absolute;
    width: 8%;
    height: 100%;
    background: var(--secondaryColorDark);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s linear;
  }
  a:hover::after {
    width: 100%;
  }
  a span {
    color: var(--secondaryColorDark);
    transition: all 0.3s linear;
  }
  a:hover span {
    color: #fff;
  }
  a i {
    color: var(--secondaryColorDark);
    font-size: calc(var(--space) * 2);
    transition: all 0.3s linear;
  }
  a:hover i {
    color: #fff;
  }
</style>
