---
import infoSection2 from "./../../assets/jsons/section2.json"
import images from "./../../assets/jsons/imagesSections.json"

const allImages = images;
const frase1 = infoSection2[0];
const frase2 = infoSection2[1];
---
<section>
  <picture>
    <img src={allImages.imageSection2} alt="" />
  </picture>
  <aside class="fl-column">
    <h2>No estas solo en este viaje</h2>
    <p>
      {frase1.phrase}
    </p>
    <h2>Tu próximo paso</h2>
    <p>
      {frase2.phrase}
    </p>
  </aside>
</section>

<style>
  section {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr;
  }

  picture {
    width: 100%;
    height: 100%;
    border-bottom: solid 5px var(--primaryColorBase);
    border-right: solid 5px var(--primaryColorBase);
  }
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
  }
  aside {
    border-top: solid 5px var(--primaryColorBase);
    padding-inline: calc(var(--space) * 3);
    padding-block: calc(var(--space) * 5);
  }

  @media screen and (max-width: 800px) {
    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    picture {
      border-right: none;
      border-top: solid 5px var(--primaryColorBase);
    }
    aside {
      border-top: none;
      padding-block: 0px;
    }
  }
</style>
